.sidebar {
  display: none;
}

.sidebar.open {
  padding: 15px 25px 0;
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 720px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition:  0.3s ease;
  z-index: 1001;
}

.background {
  background: black;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  font-weight: 600;
  font-size: 22px;
}

.nav a {
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color: #58acff;
}

.nav a.active {
  text-decoration: underline;
  color: #0059b2;
}
.close {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
}

.close img {
}
