.App {
    --header_height: 60px;
  /*padding: 0 70px 0;*/
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hw {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 30px 70px ;
}

.hwTitle {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  padding: 15px 70px;
}