.sendForm {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.textarea {
  flex-grow: 1;
  padding: 12px 24px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  border-radius: 20px;
  height: 40px;
  border: none;

  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  padding: 10px 38px;
  border-radius: 20px;
  background-color: #06c;
  border: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.button:hover {
  cursor: pointer;
}
.button:active {

}
